<%#encoding:UTF-8%><!DOCTYPE html>
<head>
    <!--
        Licensed to the Apache Software Foundation (ASF) under one
        or more contributor license agreements.  See the NOTICE file
        distributed with this work for additional information
        regarding copyright ownership.  The ASF licenses this file
        to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
        with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

        Unless required by applicable law or agreed to in writing,
        software distributed under the License is distributed on an
        "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
        KIND, either express or implied.  See the License for the
        specific language governing permissions and limitations
        under the License.
    -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- No caching headers -->
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="-1"/>

    <title><%= document.name %></title>

    <link rel="icon" type="image/png" href="<%= (attr :_basedir) %>images/isis-favicon.png"/>

    <!--
        Based on DataNucleus' template,
        that was in turn based on an earlier version of Apache Isis' template,
        that was in turn based on Apache Deltaspike's template.

        This template uses
        * Bootstrap v3.3.7 (https://getbootstrap.com/) for navbar.
        * Bootstrap TOC plugin v0.4.1 (https://afeld.github.io/bootstrap-toc/)
          for the table of contents.
        * jQuery (necessary for Bootstrap's JavaScript plugins)
        * Font-Awesome for some icons used by Asciidoctor

        Also:
        * Bootswatch "flatly" theme for Bootstrap (https://bootswatch.com/flatly).
        * slick.js (carousel)
        * add a link to all headers (home-grown, adapted from blog posts)
        * integration of elasticlunr.js (home-grown, adapted from blog posts)
    -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="<%= (attr :_basedir) %>css/bootstrap-toc/0.4.1/bootstrap-toc.min.css" rel="stylesheet"/>

    <link href="<%= (attr :_basedir) %>css/asciidoctor/foundation.css" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <%
       def is_toc?
         not (attributes.has_key?('notoc'))
       end
       def is_pdf?
         attributes.has_key?('generate_pdf')
       end
    %>

    <link href="<%= (attr :_basedir) %>css/slick/1.5.0/slick.css" rel="stylesheet">
    <link href="<%= (attr :_basedir) %>css/slick/1.5.0/slick-theme.css" rel="stylesheet">

    <link href="<%= (attr :_basedir) %>css/search-panel/search-panel.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/header-links/header-links.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/sticky-header/sticky-header.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/customisations.css" rel="stylesheet"/>

    <!-- Coderay syntax formatter -->
    <style type="text/css">
        <%= ::Asciidoctor::Stylesheets.instance.coderay_stylesheet_data %>
    </style>
</head>

<body data-spy="scroll" data-target="#toc">

<div id="basedir" style="display:none;"><%= (attr :_basedir) %></div>
<div id="docname" style="display:none;"><%= (attr :docname) %></div>
<div id="filetype" style="display:none;"><%= (attr :filetype) %></div>

<!-- Navbar -->
<nav class="navbar navbar-default navbar-static-top header">
    <div class="container">
        <div class="navbar-header">
            <!-- Three line menu button for use on mobile screens -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="<%= (attr :_basedir) %>index.html">
                <img alt="Brand" src="<%= (attr :_basedir) %>images/isis-logo-48x48.png"/>
            </a>

            <a class="navbar-brand" href="<%= (attr :_basedir) %>index.html">Apache Isis</a>

        </div>

        <!-- Navbar that will collapse on mobile screens -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>documentation.html">Table of Contents</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">User Guides</li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugfun/ugfun.html">Fundamentals</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugvw/ugvw.html">Wicket Viewer</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugvro/ugvro.html">Restful Objects Viewer</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugodn/ugodn.html">DataNucleus Object Store</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugsec/ugsec.html">Security</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugtst/ugtst.html">Testing</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugbtb/ugbtb.html">Beyond the Basics</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Reference Guides</li>
                        <li><a href="<%= (attr :_basedir) %>guides/rgant/rgant.html">Annotations</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/rgsvc/rgsvc.html">Domain Services</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/rgcfg/rgcfg.html">Core Config' Properties</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/rgcms/rgcms.html">Classes, Methods and Schema</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/rgmvn/rgmvn.html">Maven plugin</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/rgfis/rgfis.html">Framework Internal Services</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Javadoc</li>
                        <li><a href="http://javadoc.io/doc/org.apache.isis.core/isis-core-applib">Applib</a></li>

                    </ul>
                </li>

                <li class="dropdown  hidden-sm hidden-md">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Downloads<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Maven archetypes</li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugfun/ugfun.html#_ugfun_getting-started_helloworld-archetype">helloworld</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/ugfun/ugfun.html#_ugfun_getting-started_simpleapp-archetype">simpleapp</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="<%= (attr :_basedir) %>downloads.html">Downloads</a></li>
                        <li><a href="<%= (attr :_basedir) %>release-notes/release-notes.html">Release Notes</a></li>
                        <li><a href="<%= (attr :_basedir) %>migration-notes/migration-notes.html">Migration Notes</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="https://github.com/apache/isis">Github mirror</a></li>
                    </ul>
                </li>

                <li class="dropdown  hidden-sm">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Guides</li>
                        <li><a href="<%= (attr :_basedir) %>guides/dg/dg.html">Developers' Guide</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/cgcom/cgcom.html">Committers' Guide</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides/htg.html">Hints-n-Tips Guide</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Mailing Lists</li>
                        <li><a href="<%= (attr :_basedir) %>support.html">How to subscribe</a></li>
                        <li><a href="https://lists.apache.org/list.html?users&#0064;isis.apache.org">Archives (ASF Pony mail)</a></li>
                        <li><a href="http://isis.markmail.org/search/?q=">Archives (Markmail)</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Other Resources</li>
                        <li><a href="https://issues.apache.org/jira/browse/ISIS">ASF JIRA</a></li>
                        <li><a href="https://stackoverflow.com/questions/tagged/isis">Stack Overflow</a></li>
                        <li><a href="<%= (attr :_basedir) %>help.html">Wiki, Fisheye etc.</a></li>
                    </ul>
                </li>

                <li class="dropdown hidden-sm hidden-md">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ASF<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.apache.org/">Apache Homepage</a></li>
                        <li><a href="https://www.apache.org/events/current-event">Events</a></li>
                        <li><a href="https://www.apache.org/licenses/">Licenses</a></li>
                        <li><a href="https://www.apache.org/security/">Security</a></li>
                        <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                        <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://whimsy.apache.org/board/minutes/Isis.html">PMC board minutes</a></li>
                    </ul>
                </li>

            </ul>

            <div class="nav navbar-nav navbar-right">

                <!-- 'style' added to fix height of input box. FIX THIS -->
                <form class="navbar-form" role="search" id="search-form" style="padding: 1px 15px;">
                    <div class="form-group">
                        <input class="form-control" id="search-field" type="text" size="30" placeholder="Search"/>
                    </div>
                </form>
            </div>

            <p class="nav navbar-text navbar-right small">v2.0.0-M1</p>

        </div>
    </div>
</nav>


<div class="container">

    <% if is_toc? then %>
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <div id="search-panel">
                    <div id="search-results"></div>
                    <div>
                        <br/>
                        <a href="#" id="search-results-clear">clear</a>
                    </div>
                </div>
                <% if is_pdf? then %>
                    <span class="pdf-link"><a href="<%= (attr :docname) %>.pdf"><img src="<%= (attr :_basedir) %>images/PDF-50.png"></img></a></span>
                <% end %>
                <div class="page-title">
                    <h1><%= document.name %></h1>
                </div>
                <div id="doc-content">
                    <%= document.content %>
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-3">
                <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
            </div>
        </div>
    <% else %>
        <!-- Front Page, no TOC and no heading -->
        <div class="row">
            <div class="col-sm-12">
                <div id="search-panel">
                    <div id="search-results"></div>
                    <div>
                        <br/>
                        <a href="#" id="search-results-clear">clear</a>
                    </div>
                </div>
                <div id="doc-content">
                    <%= document.content %>
                </div>
            </div>
        </div>
    <% end %>


</div>

<footer class="footer">
    <div class="container">
        <div class="row">
        <p class="text-center small text-muted">
              Copyright &copy; 2010~2018 The Apache&nbsp;Software&nbsp;Foundation, licensed under the Apache&nbsp;License,&nbsp;v2.0.
              <br/>
              Apache, the Apache feather logo, Apache&nbsp;Isis, and the Apache&nbsp;Isis project logo are all trademarks of The&nbsp;Apache&nbsp;Software&nbsp;Foundation.
        </p>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="<%= (attr :_basedir) %>js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="<%= (attr :_basedir) %>js/bootstrap-toc/0.4.1/bootstrap-toc.min.js"></script>

<script src="<%= (attr :_basedir) %>js/slick/1.5.0/slick.min.js"></script>
<script src="<%= (attr :_basedir) %>js/elasticlunr/elasticlunr.min.js"></script>

<script src="<%= (attr :_basedir) %>js/sticky-header/sticky-header.js"></script>
<script src="<%= (attr :_basedir) %>js/search-panel/search-panel.js"></script>
<script src="<%= (attr :_basedir) %>js/header-link/header-link.js"></script>
<script src="<%= (attr :_basedir) %>js/toc-scroll/toc-scroll.js"></script>

</body>
</html>