<%#encoding:UTF-8%><!DOCTYPE html>
<head>
    <!--
        Licensed to the Apache Software Foundation (ASF) under one
        or more contributor license agreements.  See the NOTICE file
        distributed with this work for additional information
        regarding copyright ownership.  The ASF licenses this file
        to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
        with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

        Unless required by applicable law or agreed to in writing,
        software distributed under the License is distributed on an
        "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
        KIND, either express or implied.  See the License for the
        specific language governing permissions and limitations
        under the License.
    -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- No caching headers -->
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="-1"/>

    <title><%= document.name %></title>

    <link rel="icon" type="image/png" href="<%= (attr :_basedir) %>images/isis-favicon.png"/>

    <!--
        Based on DataNucleus' template,
        that was in turn based on an earlier version of Apache Isis' template,
        that was in turn based on Apache Deltaspike's template.

        This template uses
        * Bootstrap v3.3.7 (https://getbootstrap.com/) for navbar.
        * Bootswatch "cosmo" theme for Bootstrap (https://bootswatch.com/cosmo).
        * Bootstrap TOC plugin v0.4.1 (https://afeld.github.io/bootstrap-toc/)
          for the table of contents.
        * jQuery (necessary for Bootstrap's JavaScript plugins)
        * Font-Awesome for some icons used by Asciidoctor
        NOTE: tried using Font-Awesome CSS locally but then fails to work!

        Also:
        * slick.js (carousel)
        * add a link to all headers (home-grown, adapted from blog posts)
        * to hide the header (home-grown, adapted from blog posts)
        * integration of elasticlunr.js (home-grown, adapted from blog posts)
    -->
    <link href="<%= (attr :_basedir) %>css/bootswatch/3.3.7/bootstrap-cosmo.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/bootstrap-toc/0.4.1/bootstrap-toc.min.css" rel="stylesheet"/>

    <link href="<%= (attr :_basedir) %>css/asciidoctor/foundation.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/datanucleus_theme.css" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <%
       def is_toc?
         not (attributes.has_key?('notoc'))
       end
    %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="<%= (attr :_basedir) %>js/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="<%= (attr :_basedir) %>js/bootstrap-toc/0.4.1/bootstrap-toc.min.js"></script>

    <!-- Coderay syntax formatter -->
    <style type="text/css">
        <%= ::Asciidoctor::Stylesheets.instance.coderay_stylesheet_data %>
    </style>
</head>

<body data-spy="scroll" data-target="#toc">

<!-- Navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Three line menu button for use on mobile screens -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- 'style' added to align image with navbar. FIX THIS -->
            <a class="navbar-brand" href="http://isis.apache.org">
                <img style="margin-top: -12px;" alt="Brand" src="<%= (attr :_basedir) %>images/isis-logo-48x48.png"/>
            </a>

            <!-- TODO Any way to abstract the version from Maven? -->
            <a class="navbar-brand" href="<%= (attr :_basedir) %>index.html">Apache Isis</a>

            <!-- 'style' added to fix height of input box. FIX THIS -->
            <form class="navbar-form navbar-left" role="search" id="search-form" style="padding: 1px 15px;">
                <div class="form-group">
                    <input class="form-control" id="search-field" type="text" length="30" placeholder="Search"/>
                </div>
            </form>
        </div>

        <!-- Navbar that will collapse on mobile screens -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JPA API <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>jpa/getting_started.html">Getting Started</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/mapping.html">Mapping</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/enhancer.html">Enhancer</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/persistence.html">Persistence</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/query.html">Queries</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/tools.html">Tools</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Reference Documents</li>
                        <li><a href="<%= (attr :_basedir) %>jpa/annotations.html">Annotations Reference</a></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/metadata_xml.html">ORM.XML Reference</a></li>
                        <li><a href="http://www.datanucleus.org/javadocs/javax.persistence/2.1/">JPA Javadocs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="<%= (attr :_basedir) %>jpa/tutorial.html">JPA Tutorial</a></li>
                        <li><a href="https://github.com/datanucleus/samples-jpa">JPA Samples</a></li>
                        <li><a href="http://jcp.org/aboutJava/communityprocess/final/jsr338/index.html"><i>JPA 2.1 spec</i></a></li>
                    </ul>
                </li>


                <li><a href="<%= (attr :_basedir) %>documentation.html">Documentation</a></li>
                <li><a href="<%= (attr :_basedir) %>downloads.html">Downloads</a></li>
                <li><a href="<%= (attr :_basedir) %>help.html">Help</a></li>
                <li><a href="<%= (attr :_basedir) %>asf.html">@ASF</a></li>

            </ul>
        </div>
    </div>
</nav>


<div class="container">


    <% if is_toc? then %>
        <div class="row-fluid">
            <div class="col-sm-9">
                <div class="page-title">
                    <h1><%= document.name %></h1>
                </div>
                <div id="doc-content">
                    <%= document.content %>
                </div>
            </div>
            <div class="col-sm-3">
                <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
            </div>
        </div>
    <% else %>
        <!-- Front Page, no TOC and no heading -->
        <div class="row-fluid">
            <div class="col-sm-12">
                <div id="doc-content">
                    <%= document.content %>
                </div>
            </div>
        </div>
    <% end %>
</div>

<footer style="padding: 5px;">
<div class="container">
    <hr/>
    <div class="row">
        <div class="col-sm-2">
            Support :
        </div>
        <div class="col-sm-5">
            <a href="<%= (attr :_basedir) %>support.html">Mailing lists</a>
        </div>
        <div class="col-sm-5">
            <a href="https://lists.apache.org/list.html?users@isis.apache.org">Archives</a>
        </div>
    </div>
    <hr/>
    <p class="text-center small">
          Copyright &copy; 2010~2017 The Apache&nbsp;Software&nbsp;Foundation, licensed under the Apache&nbsp;License,&nbsp;v2.0.
          <br/>
          Apache, the Apache feather logo, Apache&nbsp;Isis, and the Apache&nbsp;Isis project logo are all trademarks of The&nbsp;Apache&nbsp;Software&nbsp;Foundation.
    </p>
</div>
</footer>

<script src="<%= (attr :_basedir) %>js/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="<%= (attr :_basedir) %>js/slick/1.5.0/slick.min.js"></script>

<script src="<%= (attr :_basedir) %>js/elasticlunr/elasticlunr.min.js"></script>

<script src="<%= (attr :_basedir) %>js/app.js"></script>


<script type="text/javascript">

  /****

      $(document).foundation();

      $(document).ready(function(){
        // Cache selectors
        var lastId,
            topMenu = $("div#toc ul"),
            topMenuHeight = 100,

            menuItems = topMenu.find("a"),
            menuItemsHrefs = menuItems.map(function(){
              var item = $($(this).attr("href"));
              if (item.length) { return item; }
            });

        // Bind click handler to menu items to scroll animation
        menuItems.click(function(e){
          var href = $(this).attr("href"),
              offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
          $('html, body').stop().animate({
              scrollTop: offsetTop
          }, 300);

          e.preventDefault();
        });

        // Bind to scroll of window
        $(  window ).scroll(function(){

           // Get container scroll position
           var fromTop = $(this).scrollTop()+topMenuHeight;

           var cur = menuItemsHrefs.map(function(){
             if ($(this).offset().top < fromTop)
               return this;
           });

           // Get the id of the current element
           cur = cur[cur.length-1];

           var id = cur && cur.length ? cur[0].id : "";

           if (lastId !== id && id) {
               scrollTo(id);
           }

           window.history.pushState({}, "", window.location.origin + window.location.pathname + "#" + id);
        });

        scrollTo = function(id) {
              lastId = id;

              menuItems
                .removeClass("active");

              menuItems
                .parents()
                .removeClass("active-region");

              menuItems
                .parents("ul").hide();

              menuItems
                .filter("[href=#"+id+"]")
                .addClass("active");

              menuItems
                .filter("[href=#"+id+"]")
                .parents("ul").show();

              menuItems
                .filter("[href=#"+id+"]")
                .parent().children("ul").show();

              menuItems
                .filter("[href=#"+id+"]")
                .parents("li").addClass("active-region");

        }
      menuItems
        .removeClass("active");

      menuItems
        .parents()
        .removeClass("active-region");

        var syncMenuItem;
        if(window.location.hash!=="") {
            var menuItemFor = $.grep(menuItems, function(e) {
                return e.hash === window.location.hash;
            });
            console.log(menuItemFor);
            if(menuItemFor.length === 1) {
                syncMenuItem = menuItemFor[0];
            }
        }

        if(!syncMenuItem){
            syncMenuItem = menuItems[0];
        }

        $(syncMenuItem).click();

      });

    ***/

</script>



<script>

$( document ).ready(function() {

    (function() {
      $(function() {
        return $("#doc-content h2, #doc-content h3, #doc-content h4, #doc-content h5, #doc-content h6").each(function(i, el) {
          var $el, icon, id;
          $el = $(el);
          id = $el.attr('id');
          icon = '<i class="fa fa-link"></i>';
          if (id) {
            return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
          }
        });
      });
    }).call(this);



	/*
        http://osvaldas.info/auto-hide-sticky-header
        MIT license
	*/
	;( function( $, window, document, undefined )
	{
		'use strict';

		var elSelector		= '.header',
			elClassHidden	= 'header--hidden',
			throttleTimeout	= 500,
			$element		= $( elSelector );

		if( !$element.length ) return true;

		var $window			= $( window ),
			wHeight			= 0,
			wScrollCurrent	= 0,
			wScrollBefore	= 0,
			wScrollDiff		= 0,
			$document		= $( document ),
			dHeight			= 0,

			throttle = function( delay, fn )
			{
				var last, deferTimer;
				return function()
				{
					var context = this, args = arguments, now = +new Date;
					if( last && now < last + delay )
					{
						clearTimeout( deferTimer );
						deferTimer = setTimeout( function(){ last = now; fn.apply( context, args ); }, delay );
					}
					else
					{
						last = now;
						fn.apply( context, args );
					}
				};
			};

		$window.on( 'scroll', throttle( throttleTimeout, function()
		{
			dHeight			= $document.height();
			wHeight			= $window.height();
			wScrollCurrent	= $window.scrollTop();
			wScrollDiff		= wScrollBefore - wScrollCurrent;

			if( wScrollCurrent <= 0 ) // scrolled to the very top; element sticks to the top
				$element.removeClass( elClassHidden );

			else if( wScrollDiff > 0 && $element.hasClass( elClassHidden ) ) // scrolled up; element slides in
				$element.removeClass( elClassHidden );

			else if( wScrollDiff < 0 ) // scrolled down
			{
				if( wScrollCurrent + wHeight >= dHeight && $element.hasClass( elClassHidden ) ) // scrolled to the very bottom; element slides in
					$element.removeClass( elClassHidden );

				else // scrolled down; element slides out
					$element.addClass( elClassHidden );
			}

			wScrollBefore = wScrollCurrent;
		}));

	})( jQuery, window, document );


});
</script>

</body>
</html>